@mixin column {
	display: flex;
	flex-direction: column;
}

@mixin row {
	display: flex;
	flex-direction: row;
}

@mixin center {
	justify-content: center;
	align-items: center;
}


@mixin fieldRectangle {
	width: 100%;
	height: 35px;
	margin-top: 8px;
	background-color: #eff2f5;
	border: 1px solid var(--color-gray-cool);
	border-radius: 5px;
	box-sizing: border-box;
	transition: background-color 0.3s;

}
