* {
  box-sizing: content-box;
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

#app {
  min-height: 100vh;
  display: flex;
	flex-direction: column;
}


.nav {
  width: 100%;
  background-color: white;
  border: 1px solid var(--divider-light-1);

  &__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 760px;
    margin-left: 24px;
    margin-right: 12px;

  }

  &__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  &__list {
    display: flex;

  }

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 300px;
    gap: 5px;
    height: var(--nav-height);
    
    &:hover {
      cursor: pointer;
    }

    &:active {
      -webkit-tap-highlight-color: transparent;
    }
    
  }
}


.logo {
  height: var(--logo-height);
  width: var(--logo-height);
  
  &__text {
    line-height: var(--logo-height);
    font-size: medium;
    font-weight: 450;
  }
  
}

.hamburger {

  &__button {
    border: none;
    background-color: transparent;

    &:active {
      background-color: var(--divider-light-1);
    }
  }
  
  &__container {
    position: relative;
    width: 16px;
    height: 14px;
    overflow: hidden;

    &--open .hamburger__item-top {
      transform: translate(0px,7px) rotate(225deg);
    }
    
    &--open .hamburger__item-middle {
      transform: translate(-26px);
    }

    &--open .hamburger__item-bottom {
      transform: translate(0px,-7px) rotate(-45deg);
    }
  }

  &__item-top, &__item-middle, &__item-bottom{
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: var(--c-text);
    transition: top .45s, background-color .5s, transform .45s;
    background-color: black;
  }

  &__item-top {
    top: 0;
    left: 0;
    transform: translate(0);
  }

  &__item-middle {
    top: 6px;
    left: 0;
    transform: translate(8px);
  }

  &__item-bottom {
    top: 12px;
    left: 0;
    transform: translate(4px);
  }
}


.menu {
  width: 100%;
  height: 100vh;
  opacity: 0;
  background-color: white;
  cursor: default;
  user-select: none;
  pointer-events: none;
  transition: opacity .3s;

  &__list {
    position: absolute;
    bottom: var(--nav-height);
    left: 0;
    right: 0;
    margin: 5px;
    padding: 0;

    transform: translateY(60px);

    transition: transform .45s,
  }

  &__item {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    border-bottom: 1px solid var(--divider-light-1);
    list-style: none;
    margin: 5px 25px;

    transition: transform .4s;

    &:hover {
      cursor: pointer;
      color: var(--primary);
      transform: translateY(-3px);
    }

    
    &:active {
      color: var(--secondary);
    }

    &:last-child {
      border: none;
    }

  }

  &--open {
    opacity: 1;
    pointer-events: all;
  }

  &--open .menu__list {
    transform: translateY(0);
  }
}





.page {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.divider {
  color: #a3a3a3;
  width: 100%;
}


@media (min-width: 768px) {

}

@media (min-width: 960px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1440px) {

}



:root {
  --divider-light-1: #3c3c3c1f;
  --primary: #055cce;
  --primary-dark: #10457f;
  --secondary: #79b45b;
  --c-text: white;

  --nav-height: 55px;
  --logo-height: 24px;
}

