html, body, #app {
  height: 100%;
  margin: 0; 
}

.container {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.header {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;

}

.header_container {
	width: 100%;
	box-shadow: 0 2px 4px var(--border-collor);
}


.row{
	display: flex;
	flex-direction:	row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}


:root {
	--color-primary: #1a73e8;
	--color-primary-dark: #042b5a;

	--color-gray-cool: #B0A8B9;

	--header-font-size: 16px;
	--header-font-weight: 400;

	--border-collor: #00000013
}