body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

:root {
	--color-primary: #1a73e8;
	--color-primary-dark: #042b5a;

	--header-font-size: 16px;
	--header-font-weight: 400;
}